{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{recipe_object.title}}s - Scrumptious Recipes</title>
    <link rel="stylesheet" href="{% static "css/recipes.css" %}" />
  </head>
  <body>
    <header class="header">
      <nav>
        <a href="{%url 'recipe_list' %}">Main Page</a>
        <a href="{% url 'edit_recipe' recipe_object.id %}">Edit Recipe</a>
      </nav>
    </header>
    <main>
      <h1>{{recipe_object.title}}</h1>
      <img src="{{recipe_object.picture}}" alt="Dem Tacos" />
      <div>4.3 stars</div>
      <div>{{recipe_object.time_to_make}}</div>
      <p>{{recipe_object.description}}</p>
      <h2>Ingredients</h2>
      <table class= "ingredients table">
        <thead>
          <tr>
            <th>Amount</th>
            <th>Food Item</th>
          </tr>
        </thead>
        <tbody>
         {% for ingredient in recipe_object.ingredients.all %}
         <tr>
          <td>{{ ingredient.amount }}</td>
          <td>{{ ingredient.food_item }}</td
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <h2>Steps</h2>
      <ol>
       {% for step in recipe_object.steps.all %}
       <li>{{step.instruction}}</li>
       {% endfor %}
      </ol>
      <p class= "text_white">. </p>
      <p class= "text_white">. </p>
    </main>
    <footer>Made with love by Scrumptious Recipes</footer>
  </body>
</html>
