{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scrumptious Recipes</title>
    <link rel="stylesheet" href="{% static "css/recipes.css" %}" />
  </head>
  <body>
    <header class="header">
      <nav>
        <a class= href="{% url 'recipe_list' %}">Main Page</a>
        {% if user.is_authenticated %}
        <a href="{% url 'my_recipe_list' %}">My recipes</a>
        <a href="{% url 'create_recipe'%}">Create New Recipe</a>
        Hello, {{ user.username }}
        <a href= "{%url 'user_logout' %}">Logout</a>
        {% else %}
        <a href= "{%url 'signup' %}">Sign Up</a>
        <a href= "{%url 'user_login' %}">Login</a>
        {% endif %}
      </nav>
    </header>
    <main>
      <h1>Scrumptious Recipes</h1>
      <h2>All the food that's fit to eat</h2>
      <div class="grid">
        {% for recipe in recipe_list %}
        <div>
          <h3>
            <a href="{%url 'show_recipe' recipe.id %}">{{recipe.title}}</a>
          </h3>
          <p>{{recipe.created_on|date:"M j Y" }}</p>
          <img src="{{recipe.picture}}" alt="Picture of {{recipe.title}}" />
          <div>4.3 stars</div>
          <p>{{recipe.time_to_make}}</p>
        </div>
        {% endfor %}
      </div>
      <footer>Made with love by Scrumptious Recipes</footer>
    </main>
  </body>
</html>
